.superMarket-list-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .superMarket-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
    > button {
      max-width: 140px;
    }
  }
  .content-container {
    .see-more-btn {
      border: none;
    }
    .search-bar-form {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .text-field-container {
        width: 100%;
        margin-right: 8px;
      }
      .filter-container {
        display: flex;
        .select-field-container {
          width: 140px;
          margin-right: 24px;
        }
      }
    }
    .ant-tabs-nav-list .ant-tabs-tab-active {
      border: 2px solid @primary-color;
      border-bottom: unset;
    }
    .ant-table-wrapper {
      .ant-spin-nested-loading {
        .ant-spin-container {
          .ant-table {
            .ant-table-container {
              .ant-table-row {
                padding: 4px 0px;
                .shop-opening {
                  color: @darkPastelGreen;
                  font-weight: bold;
                }
                .shop-lock {
                  color: @red;
                  font-weight: bold;
                }
                .shop-closed {
                  color: @red;
                  font-weight: bold;
                }
                .store-advertising {
                  background-color: #5DFF699C;
                  color: @success ;
                  font-weight: bold;
                  text-align: center;
                  border-radius: 4px;
                }
                .store-promotion {
                  background-color: rgb(255, 206, 206);
                  color: @red ;
                  font-weight: bold;
                  text-align: center;
                  border-radius: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.ant-dropdown {
  .ant-dropdown-menu {
    .lock-bussiness-btn {
      color: @red;
      font-weight: bold;
    }
    .unlock-bussiness-btn {
      color: @darkPastelGreen;
      font-weight: bold;
    }
  }
}
