@import 'styles/theme';

.tag-container {
  padding: 4px 0;
  max-width: 96px;
  width: 100%;
  border-radius: 20px;
  .status-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: -0.35px;
    text-align: center;
  }
}
.active-tag {
  // background-color: @limeGreen;
  .status-text {
    color: @white;
  }
}