.sim-form-wrapper {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
  background-color: @white;
  .add-new-sim-type {
    display: flex;
    align-items: center;
    gap: 8px;
    & > * {
      flex: 1 1 auto;
    }
    button {
      margin-top: 12px;
      flex: 0 0 40px;
      border-radius: 100%;
    }
  }
}
