@import "styles/theme.less";

.decentralization-popup-wrapper {
  max-width: 580px !important;
  width: 100% !important;
  display: flex;
  .ant-modal-content {
    .ant-modal-body {
      .decentralization-popup-container {
        .decentralization-popup-header {
          display: flex;
          align-items: center;
          .icon-close {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            cursor: pointer;
          }
          .header-content {
            font-weight: bold;
            font-size: 18px;
          }
        }
        .decentralization-popup-body {
          display: flex;
          margin-top: 16px;
          .user-info-container {
            flex: 1;
            .title {
              font-weight: bold;
              font-size: 14px;
            }
            .user-info-detail {
              display: flex;
              margin-top: 10px;
              .user-avatar {
                min-width: 48px;
                img {
                  width: 48px;
                  height: 48px;
                  object-fit: cover;
                  border: thin solid #b9b9b9;
                  border-radius: 50%;
                }
              }
              .user-name-contact-contaier {
                margin: 0px 8px;
                .user-name {
                  font-weight: bold;
                  font-size: 16px;
                  line-height: 1.25;
                  margin-bottom: 4px;
                }
                .user-contact {
                  font-size: 12px;
                  line-height: 14px;
                  .phone {
                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
          .roles-list-container {
            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 8px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            .decentralization-form {
              .checkbox-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                max-height: 160px;
                gap: 4px 0;
                .ant-checkbox-wrapper {
                  flex: 0 1 50%;
                  margin: 0,
                }
              }
            }

            .decentralization-btn {
              background: #26415d 0% 0% no-repeat padding-box;
              box-shadow: 0px 3px 6px #00000029;
              border: 0.10000000149011612px solid #707070;
              border-radius: 6px;
              color: #fff;
              text-align: center;
              padding: 4px 0px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
