.permission-tooltip-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: @white;
  .tootltip-text {
    margin-left: 4px;
    color: @text-color;
  }
  .bold {
    font-weight: bold;
  }
}