.company-notification-list {
  .notification-list  {
    width: 440px;
    max-height: calc(100vh - 120px);
    overflow: auto;
    background-color: #fff;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #fff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: @primary-color;
    }
    .notification-cell-wrapper {
      display: flex;
      padding: 12px;
      border-top: 1px solid @pinkishGrey;
      align-items: center;
      cursor: pointer;
      a {
        display: flex;
        padding: 12px;
        border-top: 1px solid @pinkishGrey;
        align-items: center;
        cursor: pointer;
        .notification-info {
          margin-left: 10px;
          .notification-timeline {
            color: #758CB7;
            font-size: 12px;
          }
        }
      }
      .notification-info {
        margin-left: 10px;
        .notification-timeline {
          color: #758CB7;
          font-size: 12px;
        }
      }
    }
    .notification-unread {
      background-color: #CDF8E4;
    }
    .notification-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
  }
}