.message-list-container {
  flex-direction: column-reverse;
  display: flex;
  overflow: auto;
  padding: 16px;
  .message-cell-container {
    margin-top: 24px;
  }
}

.conversation-header-container {
  min-height: 80px;
  padding: 16px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  width: 100%;
  .avatar {
    border-radius: 6px;
    border: solid 1px rgba(53, 62, 58, 0.1);
    margin-right: 8px;
  }
  .conversation-header-content {
    .username {
      font-size: 16px;
      font-weight: 500;
      color: #353e3a;
    }

    .message-date {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}