.location-list-modal-wrapper {
  .modal-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    .icon-close {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .add-location-input {
    .ant-input-wrapper {
      display: flex;
      .ant-input {
        flex: 1 1 auto;
        border-radius: 8px 0 0 8px;
        font-size: 16px;
      }
      .ant-input-group-addon {
        flex: 0 0 120px;
        border-radius: 0 8px 8px 0;
      }
    }
  }
  .location-list-wrapper {
    .location-item {
      display: flex;
      align-items: center;
      margin-top: 8px;
      &:first-of-type {
        margin-top: 16px;
      }
      .ant-typography {
        flex: 1 1 auto;
        margin: 0;
        left: 0;
        word-break: break-all;
      }
      button {
        flex: 0 0 32px;
        height: 32px;
        padding: 0;
        border-radius: 100%;
      }
    }
  }
}