.notification-icon-wrapper {
  margin-right: 8px;
  cursor: pointer;
  position: relative;
  .notification-icon {
  
    img {
      width: 32px;
      height: 32px;
      margin-right: 4px;
    }
    .unread-number {
      background-color: red;
      position: absolute;
      top: 6px;
      right: 0px;
      color: @white;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      font-size: 10px;
      justify-content: center;
    }
  }
  
}

.notification-popover-wrapper {
  position: fixed !important;
  margin: -10px -30px !important;
  .ant-popover-content {
    .ant-popover-arrow {
      display: none;
    }
    .ant-popover-inner {
      .ant-popover-title {
        color:  @primary-color;
        font-size: 16px;
        font-weight: bold;
        padding: 12px;
      }
      .ant-popover-inner-content {
        padding: 0px;
      }
    }
  }
}
.ant-popover-placement-bottom {
  padding-top: 0px !important;
}