.change-working-time-popup-wrapper {
  max-width: 1000px !important;
  width: 100% !important;
  display: flex;
  .ant-modal-content {
    .ant-modal-body {
      .change-working-time-popup-container {
        .change-working-time-popup-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .header-title-container {
            display: flex;
            align-items: center;
            .icon-close {
              width: 20px;
              height: 20px;
              margin-right: 10px;
              cursor: pointer;
            }
            .header-content {
              font-weight: bold;
              font-size: 18px;
            }
          }
          .confirm-btn {
            width: 140px;
          }
        }
        .change-working-time-popup-body {
          display: flex;
          margin-top: 16px;
          .type-working-time-container {
            padding-right: 20px;
            border-right: 1px solid @border;
            .choose-type-title {
              font-size: 20px;
              font-weight: bold;
              color: @primary-color;
            }
            .working-time-options {
              display: flex;
              flex-direction: column;
              .option-item {
                display: flex;
                align-items: center;
                padding: 10px 0px;
                .option-label {
                  color: @primary-color;
                  margin-left: 10px;
                  .content {
                    font-weight: 400;
                  }
                }
              }
            }
          }
          .optional-working-time-container {
            border-left: 1px solid @border;
            padding-left: 20px;
            .working-time-img {
              width: 100%;
            }
            align-items: center;
            display: flex;
            flex-direction: column;
            .create-working-time-btn {
              margin-top: 10px;
              width: 240px;
            }
          }
          .create-custom-working-time-container {
            border-left: 1px solid @border;
            padding-left: 20px;
            .working-time-of-week-wrapper {
              display: flex;
              flex-direction: column;
              .working-time-of-day-container {
                margin: 10px 0px;
                display: flex;
                .working-time-of-day-label {
                  width: 80px;
                }
                .working-time-of-day-value {
                  .no-working-time-wrapper {
                    display: flex;
                    .close-time-label {
                      width: 120px;
                      border-radius: 8px;
                      border: 1px solid @warmGreyTwo;
                      padding: 6px 10px;
                      display: flex;
                      align-items: center;

                      .anticon-clock-circle {
                        margin-right: 10px;
                      }
                    }
                    .add-working-time-btn {
                      width: 50px;
                      margin-left: 10px;
                    }
                  }
                  .day-working-time-wrapper {
                    display: flex;
                    flex-direction: column;
                    .working-time-item-container {
                      display: flex;
                      margin-bottom: 10px;
                      .add-working-time-btn {
                        width: 50px;
                        margin-left: 10px;
                      }
                      .remove-working-time-btn {
                        width: 50px;
                        margin-left: 10px;
                      }
                      .ant-picker-range {
                        border-radius: 8px;
                        border: 1px solid @warmGreyTwo;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
