.article-shop-owner-wrapper {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
  background-color: @white;
  margin-bottom: 20px;
  .article-manager-shop-container {
    display: flex;
    justify-content: space-between;
    .manager-shop-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.78;
      color: #26415d;
    }
    .change-manager-shop-btn {
      max-width: 140px;
    }
  }
  .shop-owner-info-wrapper {
    margin-top: 10px;
    .shop-owener-avatar-container {
      margin-right: 40px;
      .user-avatar {
        min-width: 96px;
        img {
          width: 96px;
          height: 96px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid @pinkishGrey;
        }
      }
    }
    .shop-owner-info-detail-container {
      .shop-owner-name-email-phone-container {
        margin-bottom: 10px;
        .item-info-detail {
          width: 200px;
          padding-right: 10px;
          .title {
            font-size: 12px;
            line-height: 1.67;
            color: #26415d;
            font-weight: bold;
          }
          .content {
            font-size: 12px;
            line-height: 1.67;
            color: #26415d;
            word-break: break-all;
          }
        }
      }
      .shop-owner-address-container {
        .item-info-detail {
          .title {
            font-size: 12px;
            line-height: 1.67;
            color: #26415d;
            font-weight: bold;
          }
          .content {
            font-size: 12px;
            line-height: 1.67;
            color: #26415d;
            word-break: break-all;
          }
        }
      }
    }
  }
}
