.lastest-billing-modal-wrapper {
  .ant-modal-body {
    padding-top: 0px;
  }
  .bill-detail-header {
    padding: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    .ant-typography {
      margin-bottom: 0;
      margin-left: 8px;
    }
    button {
      margin: 0;
      max-width: 100px;
    }
  }
  .text-sub-title {
    color: #26415D;
    font-size: 14px;
    font-weight: bold;
    margin-right: 4px;
  }
  .text-sub-content {
    color: #26415D;
    font-size: 14px;
    font-weight: 400;
    line-break: anywhere;
  }
  .detail-wrapper {
    padding: 0px 16px;
    border-radius: 4px;
    background-color: @white;
    margin-top: 12px;
    .text-product-price {
      font-size: 24px;
      font-weight: bolder;
      color: #08B63B;
    }
    .text-extra-price {
      font-size: 18px;
      font-weight: bolder;
      color: #08B63B;
    }
    .top10 {
      margin-top: 10px;
    }
    .text-input-price {
      font-size: 18px;
      font-weight: bolder;
      color: #26415D;
    }
    .detail-title-wrapper {
      display: flex;
      .detail-title {
        font-size: 32px;
        font-weight: 500;
        flex: 1;
      }
      .detail-time {
        .time-dot {
          background-color: #ff80d9;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          margin-right: 8px;
  
        }
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #9f9a9a
        ;
      }
    }
    .content-wrapper {
      padding: 24px 0px;
      > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }
    }
    .container-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text-sub-title-2 {
        font-size: 18px;
        color: #000;
        font-weight: bold;
      }
      .text-price {
        margin-top: 10px;
        font-size: 24px;
        color: #000;
        font-weight: bolder;
      }
    }
   
    .text-title {
      font-size: 21px;
      color: #000;
      font-weight: bold;
    }
    .line {
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 1px dashed black;
    }
  }
}
