.product-detail-modal {
  .ant-modal-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: @primary-color;
  }
  .image-container {
    max-width: 210px;
    margin-right: 16px;
  }
  .detail-row {
    margin-top: 16px;
    .detail-text {
      margin-top: 8px;
    }
  }
  .button-wrapper {
    margin-top: 24px;
    button {
      max-width: calc((100% - 20px)/2);
    }
  }
}