.otp-input-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  .otp-input.active-otp-input input {
    border: solid 2px #26415d;
  }
  .otp-input {
    input {
      border: solid 2px #efefef;
      border-radius: 6px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus {
        outline: none;
      }
      &:disabled {
        opacity: 1;
        background-color: #fff;
      }
      text-align: center;
      width: 64px;
      height: 64px;
      font-size: 18px;
      color: #26415d;
    }
  }
}