.editor-container {
  .ant-form-item-control-input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    .quill {
      .ql-container {
        .ql-editor {
          min-height: 220px;
        }
      }
    }
  }
}