.restaurant-edit-component-wrapper {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
  background-color: @white;
  .restaurant-edit-info-container {
    width: 100%;
    .info-section {
      .upload-image-container
        .ant-upload-picture-card-wrapper
        .ant-upload.ant-upload-select-picture-card {
        min-height: 100px;
        width: 160px;
        img {
          max-height: 100px;
        }
      }
    }
    .banner-section {
      .upload-image-container
        .ant-upload-picture-card-wrapper
        .ant-upload.ant-upload-select-picture-card {
        min-height: 190px;
        width: 365px;
        img {
          max-height: 190px;
        }
      }
    }
    .m-title-text {
      margin-bottom: 16px;
    }
    .ant-image-img {
      border-radius: 8px;
    }

    .restaurant-info {
      margin-left: 16px;
      .info-row {
        .info-col {
          .s-text {
            &:first-child {
              font-weight: bold;
            }
          }
          .select-field-container {
            width: 100%;
            .ant-select-selector {
              height: 32px !important;
            }
          }
          .time-working-wrapper {
            display: flex;
            align-items: top;
            height: 30px;
            margin-bottom: 24px;
            .time-working-title {
              width: 60%;
            }
            .setting-icon {
              cursor: pointer;
              margin-top: 8px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .business-description-container {
    margin: 16px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
      color: @black;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    .editor-container {
      .ant-form-item-control-input .quill .ql-container .ql-editor {
        max-height: 600px;
        min-height: 600px;
      }
    }
  }
}
