.products-create-page {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .products-create-header {
    .ant-typography {
      margin-bottom: 0;
      margin-left: 8px;
    }
    button {
      margin: 0;
    }
    .back-btn {
      display: flex;
    }
  }
  .form-section {
    .form-wrapper {
      margin-top: 24px;
      padding: 24px;
      border-radius: 2px;
      box-shadow: 0 0 0 2px #eceeef;
    }
  }
}
