.set-price-modal {
  .ant-modal-header {
    border-bottom: none;
    .ant-modal-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      color: @primary-color;
    }
  }
  .ant-modal-body {
    padding: 16px 42px 24px;
    .ant-radio-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .ant-radio-wrapper {
        font-size: 16px;
      }
    }
  }
}