.banner-create-wrapper {
  background-color: #fff;
  height: 100%;
  padding: 16px;
  .create-banner-form-container {
    .banner-create-header {
      .ant-typography {
        margin-bottom: 0;
      }
      .ant-btn {
        max-width: 140px;
      }
      .create-banner-actions {
        display: flex;
      }
    }
    .form-container {
      box-shadow: 0px 3px 6px #00000029;
      border: 0.10000000149011612px solid #d9d9d9;
      border-radius: 8px;
      margin: 24px auto 0px;
      padding: 24px;
      max-width: 946px;
      .upload-image-container {
        .banner-image-wrapper{
          position: relative;
          .ant-upload-picture-card-wrapper {
            .ant-upload-select-picture-card {
              border-radius: 4px;
              min-height: 300px;
              margin-bottom: 0px;
              .ant-upload {
                padding: 0px;
                display: inline;
                .upload-iamge-wrapper {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .uploaded-image {
                    width: 100%;
                    max-width: 100%;
                    border-radius: 4px;
                  }
                }
              }
            }
          }
          .open-file-btn {
            width: 60px;
            position: absolute;
            right: 24px;
            bottom: 24px;
          }
        }
      }
    }
  }
}
