.select-from-to-date-wrapper {
  display: flex;
  width: 100%;
  .select-field-container {
    width: 100%;
    .ant-select-selector {
      height: 32px !important;
    }
  }
  .form-to-text {
    margin: 8px  10px 0px 10px ;
  }
}
