.article-permission-tooltip-wrapper {
    border-radius: 8px;
    background-color: @white;
        padding-right: 10px;
        padding-left: 10px;
    .tootltip-text {
      color: @text-color;
      .bold{
          font-weight: bold;
      }
    }
  }
  .status-block-wrapper {
    border-radius: 50%;
    img {
      width: 24px;
      height: 24px;
    }
    .status-text {
      margin-left: 8px;
    }
  }
  