.Visa-update-page {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .Visa-update-header {
    .ant-typography {
      margin-bottom: 0;
      margin-left: 8px;
    }
    button {
      margin: 0;
      max-width: 100px;
    }
  }
  .update-form-wrapper {
    margin-top: 16px;
    .text-field-container  {
      width: 100%;
    }
    .upload-image-container {
      width: 20%;
    }
    .editor-container {
      width: calc(80% - 16px);
    }
    .editor-wrapper {
      margin-top: 16px;
    }
  }
}
