.set-tag-modal {
  .ant-modal-header {
    border-bottom: none;
  }
  .ant-modal-body {
    padding: 16px 24px 24px;
    .product-carousel-wrapper {
      .carousel-btn-wrapper {
        button {
          border: none;
          max-width: 40px;
        }
      }
    }
    .product-image-wrapper {
      position: relative;
      border-radius: 6px;
      .ant-image {
        img {
          border-radius: 6px;
        }
      }
      .sale--price-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
        padding: 8px 10px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        border-top-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
  .ant-modal-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: @primary-color;
  }
  .detail-text {
    display: flex;
    align-items: center;
  }
  .product-size {
    display: flex;
    align-items: flex-start;
  }
  .fw-700 {
    font-weight: 700;
    margin-right: 4px;
    min-width: 66px;
  }

  .price-text {
    font-weight: bold;
    font-size: 24px;
  }
  .highlight-price-text {
    color: #08b63b;
    font-weight: bold;
  }
  .set-tag-form {
    height: 100%;
  }
}
