.sim-list-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .sim-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
    .ant-btn {
      max-width: 140px;
    }
  }
  .content-container {
    .see-more-btn {
      border: none;
    }
    .search-bar-form {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      gap: 8px;
      .text-field-container {
        width: 100%;
      }
    }
    .ant-tabs-nav-list .ant-tabs-tab-active {
      border: 2px solid @primary-color;
      border-bottom: unset;
    }
    .ant-table-wrapper {
      .ant-spin-nested-loading {
        .ant-spin-container {
          .ant-table {
            .ant-table-container {
              .ant-table-row {
                padding: 4px 0px;
                &.row-status-unread{
                  background-color: white; 
                }
                &.row-status-readed {
                  background-color: #9BFAC1;
                }
                &.row-status-NEW {
                  background-color: #9BFAC1;
                  .sim-status {
                    color: #157421;
                  }
                }
                &.row-status-DELIVERED {
                  background-color: #ffffff;
                  .sim-status {
                    color: #2FBE50;
                  }
                }
                &.row-status-BEING_TRANSPORTED {
                  background-color: #FAFF75;
                  .sim-status {
                    color: #D19A00;
                  }
                }
                &.row-status-CANCELLED {
                  background-color: #ffffff;
                  .sim-status {
                    color: #FF0000;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
