.bill-create-form-wrapper {
  form {
    .form-grid {
      > .ant-col:nth-child(2n + 1) {
        padding-right: 24px;
        border-right: 1px solid #707070;
      }
      > .ant-col:nth-child(2n) {
        padding-left: 24px;
      }
    }
    .button-wrapper {
      > .ant-col {
        width: 100%;
        > button {
          width: calc((100% - 8px));
        }
      }
    }
    .ant-col {
      .multi-upload-image-container {
        .ant-upload-picture-card-wrapper {
          .ant-upload-list-picture-card {
            .ant-upload-list-picture-card-container {
              .ant-upload-list-item-actions {
                display: flex;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                  position: relative;
                  width: 80%;
                  height: 80%;
                  .anticon-eye {
                    svg {
                      display: none;
                    }
                  }
                }
                .ant-btn-icon-only {
                  position: absolute;
                  top: 0px;
                  right: 0px;
                  margin-top: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
