.Visa-detail-wrapper {
  background-color: @white;
  height: 100%;
  .Visa-detail-header {
    padding: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    .ant-typography {
      margin-bottom: 0;
      margin-left: 8px;
    }
    button {
      margin: 0;
      max-width: 100px;
    }
  }
  .detail-wrapper {
    margin: 24px 24px 0px 24px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
    background-color: @white;
    .detail-title-wrapper {
      display: flex;
      .detail-title {
        font-size: 32px;
        font-weight: 500;
        flex: 1;
      }
      .detail-time {
        .time-dot {
          background-color: #ff80d9;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          margin-right: 8px;
  
        }
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #9f9a9a
        ;
      }
    }
    .content-wrapper {
      > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }
    }
  }
}
