.change-store-onwer-modal-wrapper {
  width: 1100px !important;
  display: flex;
  .ant-modal-content {
    .ant-modal-body {
      .change-store-onwer-modal-container {
        .change-store-onwer-modal-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .header-title-container {
            display: flex;
            align-items: center;
            .icon-close {
              width: 20px;
              height: 20px;
              margin-right: 10px;
              cursor: pointer;
            }
            .header-content {
              font-weight: bold;
              font-size: 18px;
            }
          }
          .confirm-btn {
            width: 140px;
          }
        }
        .change-store-onwer-modal-body {
          margin-top: 16px;
          .searchbar-container {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
