.store-detail-wrapper {
  background-color: @white;
  height: 100%;
  .store-detail-header {
    padding: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    .ant-typography {
      margin-bottom: 0;
      margin-left: 8px;
    }
  }
  .detail-wrapper {
    padding: 16px;
  }
}
