@import 'styles/theme';

.container-not-found {
  background-color: @white;
  height: calc(100vh - @layout-header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}