.news-fonehouse-list-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .store-advertising {
    background-color: #5dff699c;
    color: @success;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
  }
  .store-promotion {
    background-color: rgb(255, 206, 206);
    color: @red;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
  }
  .news-fonehouse-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
    .ant-btn {
      max-width: 120px;
    }
  }
  .content-container {
    .see-more-btn {
      border: none;
    }
    .search-bar-form {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .text-field-container {
        width: 100%;
        margin-right: 8px;
      }
    }
  }
}
