// @import 'styles/theme';
.login-page-wrapper {
  height: 100vh;
  background: url('/assets/images/login-background.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  .logo-wrapper {
    margin: 0 auto;
    img {
      width: 200px;
      height: 200px;
    }
  }
  .login-text {
    font-size: 16px;
    font-weight: bold;
    font-weight: bold;
    font-size: 16px;
    line-height: 33px;
    color: @warmGreyTwo;
  }
  .otp-input-container {
    margin-top: 8px;
  }
  .login-form {
    width: 100%;
    max-width: 700px;
    padding: 34px 32px 46px;
    background-color: @white;
    margin: 0 auto;
    font: normal normal bold 29px/33px Helvetica Neue;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  }
  .submit-btn {
    height: 48px;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
  }
  .resend-otp-btn-container {
    margin-top: 16px;
    button {
      width: unset;
      margin-left: auto;
    }
  }
  .forgot-password-text {
    margin-top: 16px;
    text-align: center;
  }
  .phone-title {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .phone-container {
    display: flex;
    justify-content: space-between;
    .country-code {
      width: 30%;
    }
    .phone-number {
      width: 68%;
    }
  }
}