.customize-product-type-modal {
  .product-type-modal-container {
    .product-type-list-wrapper {
      border-right: 1px solid @warmGreyTwo;
      padding-right: 12px;
      display: flex;
      flex-direction: column;
      .product-type-list-container {
        .type-title {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 4px;
        }
        .sortable-list-wrapper {
          display: flex;
          flex-wrap: wrap;
          overflow: auto;
          .product-type-item-wrapper {
            flex: 0 0 30%;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 6px;
            margin: 4px;
            .handle-item-wrapper {
              display: flex;
              padding: 8px;
              align-items: center;
              width: 100%;
              .type-image {
                height: 28px;
                display: flex;
                align-items: center;
                margin-right: 4px;
              }
            }
          }
        }
      }
      .product-machine-series-list-container {
        .type-title {
          font-weight: bold;
          font-size: 18px;
          margin: 10px 0px 4px;
        }
      }
      .product-machine-image-list-container {
        .label-wrapper {
          margin: 10px 0px 4px;
        }
        .ant-upload-list-picture-card-container {
          width: 100px;
          height: 100px;
          margin: 0 4px 4px 0;
        }
        .ant-upload-select-picture-card {
          width: 100px;
          height: 100px;
        }
      }
    }
    .product-type-form-wrapper {
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      .create-type-form-wrapper {
        .type-form {
          .ant-row {
            .create-type-image {
              padding-top: 28px;
              .upload-image-container {
                .ant-upload-picture-card-wrapper {
                  .ant-upload-select-picture-card {
                    min-height: 82px;
                    height: auto;
                  }
                }
                .ant-btn {
                  background-color: #e0e0e0;
                  border-radius: 8px;
                  border-color: transparent;
                  color: @black;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .create-machine-series-form-wrapper {
        padding-top: 20px;
       
        .machine-series-form {
          .ant-row {
            .create-type-image {
              padding-top: 72px;
              .upload-image-container {
                .ant-upload-picture-card-wrapper {
                  .ant-upload-select-picture-card {
                    min-height: 82px;
                    height: auto;
                  }
                }
                .ant-btn {
                  background-color: #e0e0e0;
                  border-radius: 8px;
                  border-color: transparent;
                  color: @black;
                  font-size: 14px;
                }
              }
            }
            .multi-upload-image-container {
              .ant-upload-picture-card-wrapper {
                .ant-upload-list-picture-card {
                  .ant-upload-list-picture-card-container {
                    .ant-upload-list-item-actions {
                      display: flex;
                      width: 100%;
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      a {
                        position: relative;
                        width: 80%;
                        height: 80%;
                        .anticon-eye {
                          svg {
                            display: none;
                          }
                        }
                      }
                      .ant-btn-icon-only {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        margin-top: 0px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// When the Article Item is dragged, it gets removed from the parent container, so this item needs to be styled separately.
.product-type-item-wrapper {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  width: 30%;
  float: left;
  margin: 4px;
  background-color: @white;
  cursor: pointer;
  position: relative;
  .handle-item-wrapper {
    width: 100%;
    display: flex;
    padding: 8px;
    align-items: center;
    img {
      width: 32px;
    }
    .type-image {
      height: 28px;
      display: flex;
      align-items: center;
      margin-right: 4px;
    }
  }
  .icon-close {
    position: absolute;
    top: -4px;
    right: -4px;
    z-index: 10;
    color: @white;
    background-color: @warmGreyTwo;
  }
}
.item-selected {
  background-color: #04ffcd;
}
