.banner-list-wrapper {
  background-color: #fff;
  height: 100%;
  padding: 16px;
  .banner-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
    .ant-btn {
      max-width: 140px;
    }
  }
  .banner-list-table {
    margin-top: 16px;
    .ant-table-wrapper {
      .ant-spin-nested-loading {
        .ant-spin-container {
          .ant-table {
            .ant-table-container {
              .ant-table-row {
                padding: 4px 0px;
                .ant-table-cell {
                  .banner-image {
                    height: 100px;
                    width: 100%;
                    border-radius: 4px;
                    img {
                      object-fit: contain;
                      height: 100%;
                      border-radius: 4px;
                    }
                  }
                  .vertical-banner {
                    height: 280px;
                  }
                  .banner-url {
                    width: 200px;
                  }
                  .status-active {
                    display: flex;
                    align-items: center;
                    .switch-field-container {
                      .ant-switch-checked {
                        background-color: @goGreen;
                      }
                    }
                  }
                  .menu-actions {
                    display: flex;
                    .edit-btn {
                      border-color: @goGreen;
                      color: @goGreen;
                      font-weight: 500;
                    }
                    .remove-btn {
                      border-color: @red;
                      color: @red;
                      font-weight: 500;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
