.message-cell-container {
  // display: flex;
  .send-by {
    text-align: right;
    color: #AEAEAE;
    margin-top: 6px;
  }
  .status-content {
    color: @white;
    margin-left: 8px;
  }
  .status-box- {
    position: absolute;


    &active {
      background-color: #D57B14;
      position: absolute;
      border-radius:6px 0px 0px 6px;
      top: 0;
      right: 0;
      padding:6px 12px;
    }
    &ordered {
      background-color: #078436;
      position: absolute;
      border-radius:6px 0px 0px 6px;
      top: 0;
      right: 0;
      padding:6px 12px;
    }
    &removed {
      background-color:#FF0000;
      position: absolute;
      border-radius:6px 0px 0px 6px;
      top: 0;
      right: 0;
      padding:6px 12px;
    }
  }
  .promotion-box {
    background-color: red;
    border-radius:0px 0px 6px 0px;
    padding:12px 24px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .text-promotion {
    color: @white;
    font-size: 18px;
    font-weight: bolder;
  }
  .product-container {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
    background-color: @white;
  }
  .product-name {
  font-size: 18px;
  font-weight: bold;
  color: @primary-color;
  }
  .product-info {
    font-size: 13px;
    color: @primary-color;
    }
    .product-price {
      font-size: 20px;
      font-weight: bolder;
      color: red;
    }
  .ant-avatar {
    border: solid 1px rgba(53, 62, 58, 0.1);
    margin-right: 8px;
  }
  .message-text-container {
    color: @black;
    width: fit-content;
    box-shadow: 0px 4px 35px #0000001A;
    word-break: break-word;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 12px;
    max-width: 400px;
    white-space: pre-line;
    .other-message {
      text-decoration: revert;
    }
  }
  .message-time {
    margin-top: -20px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(53, 62, 58, 0.8);
    text-align: center;
    &:first-letter {
      text-transform:capitalize;
    }
  }
  .video-container {
    margin-top: 12px;
  }
}

.message-cell-container.own-cell-container {
  .message-text-container {
    border-top-right-radius: unset;
    border-top-left-radius: 8px;
    background-color: #4F7CFE;
    color: @white;
    margin-left: auto;
    .self-message {
      color: white;
      text-decoration: revert;
    }
  }
  .message-time {
    text-align: center;
  }
  #ReactGridGallery {
    display: flex;
    justify-content: flex-end;
    img {
      object-fit: cover;
    }
  }
}