.message-input-container {
  .message-form-container {
    display: flex;
    .text-field-container {
      flex: 1;
    }
    .send-message-btn {
      width: 38px;
      height: 38px;
      background-color: #4F7CFE;
      border-radius: 50%;
      margin-left: 8px;
    }
    .upload-file-btn {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      margin-left: 8px;
    }
  }
  .preview-container {
    display: flex;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 8px;
    overflow-x: auto;
    .preview-file-container {
      margin-right: 12px;
      border-radius: 4px;
      position: relative;
      .close-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: -12px;
        top: -8px;
        color: #fff;
        z-index: 2;
      }
    }
  }
}