@import "styles/theme.less";

.home-container {
  .item-list-wrapper {
    display: flex;
    .item-wrapper {
      cursor: pointer;
      border-radius: 10px;
      background-color: @white;
      max-width: 380px;
      height: 217px;
      flex: 1;
      a {
        color: @black;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      &:hover {
        background-color: @primaryHover;
        border: 1px solid @primary-color;
        .item-content {
          color: @primary-color;
        }
      }
      img {
        width: 120px;
      }
      .item-content {
        margin-top: 8px;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        .item-title {
          margin-left: 4px;
        }
      }
      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }
}
