.support-feedback-detail-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .support-feedback-header {
    .back-btn-container {
      display: flex;
      .ant-typography {
        margin-left: 4px;
        margin-bottom: 0;
      }
    }
 
    > button {
      max-width: 120px;
    }
  }
  .support-feedback-body {
    margin-top: 10px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    .support-feedback-title {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;
      width: 100%;
    }
    .support-feedback-note {
      .title {
        margin-bottom: 10px;
      }
      .attachments {
        .image-support-feedback {
          max-width: 360px;
        }
      }
    }
  }
}
