.moneyManagement-fonehouse-list-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .moneyManagement-fonehouse-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
    .ant-btn {
      max-width: 100px;
    }
  }
  .content-container {
    .see-more-btn {
      border: none;
    }
    .search-bar-form {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .text-field-container {
        width: 100%;
        margin-right: 8px;
      }
    }
  }
}
