@import 'styles/theme';
.type-block-wrapper {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.type-block-wrapper.news-block {
  background-color: @news;
}
.type-block-wrapper.supermarket-block {
  background-color: @supermarket;
}
.type-block-wrapper.jobs-block {
  background-color: @job;
}
.type-block-wrapper.transport-block {
  background-color: @transport;
}
.type-block-wrapper.tutorial-block {
  background-color: @tutorial;
}
.type-block-wrapper.rent-block {
  background-color: @rent;
}
.type-block-wrapper.visa-block {
  background-color: @visa;
}
.type-block-wrapper.tourist-block {
  background-color: @tourist;
}
.type-block-wrapper.restaurant-block {
  background-color: @restaurant;
}
.type-block-wrapper.entertainment-block {
  background-color: @entertainment;
}
.type-block-wrapper.fonehouse-block {
  background-color: @fonehouse;
}
.type-block-wrapper.cosmetic-block {
  background-color: @cosmetic;
}
.type-block-wrapper.car-and-old-stuff-block {
  background-color: #CB8930;
}
.type-block-wrapper.other {
  background-color: #4CBC9A;
}
