.fonehouse-product-tooltip-wrapper {
  border-radius: 8px;
  background-color: @white;
      padding-right: 10px;
      padding-left: 10px;
  .tootltip-text {
    color: @text-color;
    .bold{
        font-weight: bold;
    }
  }
}