.store-banner-list-wrapper {
  padding: 16px;
  .store-banner-list-header {
    margin-bottom: 16px;
  }
  .banner-list-table {
    .banner-image {
      height: 100px;
      width: 100%;
      border-radius: 4px;
      img {
        object-fit: contain;
        height: 100%;
        border-radius: 4px;
      }
    }
    .banner-url {
      width: 300px;
    }
    .status-active {
      display: flex;
      align-items: center;
      .switch-field-container {
        .ant-switch-checked {
          background-color: @goGreen;
        }
      }
    }
    .menu-actions {
      display: flex;
      .edit-btn {
        border-color: @goGreen;
        color: @goGreen;
        font-weight: 500;
      }
      .remove-btn {
        border-color: @red;
        color: @red;
        font-weight: 500;
      }
    }
  }
}