.messenger-page {
  background-color: #edf0f5;
  height: 100%;
  // padding: 16px;
  .news-fonehouse-list-header {
    .ant-typography {
      padding: 16px;
      margin-bottom: 0;
      background-color: @white;
      width: 100%;
    }
    .ant-btn {
      max-width: 100px;
    }
  }
  .message-page-content {
    display: flex;
    margin: 16px;
    background-color: @white;
    height: calc(100vh - 142px);
  }
  .conversation-list-container {
    width: 100%;
    max-width: 366px;
    overflow: auto;
  }
  .conversation-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    .message-list-container {
      flex: 1;
    }
    .message-input-container {
      padding: 8px;
      border-top: 1px solid rgba(53, 62, 58, 0.1);
      .ant-form-item-explain {
        display: none;
      }
    }
  }
}
.bill-list-header {
  .ant-typography {
    margin-bottom: 0;
  }
  > button {
    max-width: 140px;
  }
}
