.news-create-page {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .news-create-header {
    .ant-typography {
      margin-bottom: 0;
      margin-left: 8px;
    }
    > button {
      max-width: 100px;
      width: 100%;
      margin: 0;
    }
  }
  .create-form-wrapper {
    margin-top: 16px;
    .text-field-container  {
      width: 100%;
    }
    .upload-image-container {
      width: 20%;
    }
    .editor-container {
      width: calc(80% - 16px);
    }
    .editor-wrapper {
      margin-top: 16px;
      .ant-form-item-control-input .quill .ql-container .ql-editor {
        max-height: calc(100vh - 305px);
        @media screen and (max-width: 1280px) {
          max-height: calc(100vh - 330px);
        }
      }
    }
  }
}
