.general-confirm-modal {
  .ant-modal-header {
    border-bottom: none;
    padding: 24px;
  }
  .ant-modal-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: @primary-color;
  }
  .ant-modal-body {
    font-size: 18px;
    text-align: center;
  }
  .ant-modal-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    button {
      width: calc((100% - 16px)/2);
    }
  }
}