.status-tag-wrapper {
  border-radius: 4px;
  padding: 2px 8px;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  height: fit-content;
  width: -moz-fit-content;
  align-items: center;
  margin-right: 10px;
  .status-dot {
    height: 8px;
    width: 8px;
    margin-right: 4px;
    border-radius: 50%;
  }
}
.active-status {
  background-color: rgba(21, 174, 103, 0.2);
  color: @goGreen;
  .status-dot {
    background-color: @goGreen;
  }
}
.de-active-status {
  background-color: @Platinum;
  color: @black;
  .status-dot {
    background-color: @black;
  }
}