.restaurant-detail-wrapper {
  background-color: @white;
  height: 100%;
  .restaurant-detail-header {
    padding: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    .ant-typography {
      margin-bottom: 0;
      margin-left: 8px;
    }
  }
  .detail-wrapper {
    padding: 16px;
    .content-container {
      .search-bar-form {
        padding: 16px 0;
        .restaurant-product-searchbar {
          .filter-field-container {
            margin-left: 16px;
            .ant-form-item {
              margin-bottom: 0px;
            }
          }
        }
      }
      .ant-table-wrapper {
        .see-more-btn {
          border: none;
          max-width: 48px;
          height: 48px;
        }
      }
    }
  }
}
