.sim-registration-modal-wrapper {
  .modal-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    .icon-close {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .modal-content {
    gap: 24px;
    .sim-detail {
      box-shadow: 0px 3px 6px #00000029;
      padding: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .head-content {
        text-align: center;
        width: 100%;
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .detail-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        font-size: 22px;
        .label {
          font-weight: bold;
        }
      }
      .summary-content {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        .label {
          font-size: 22px;
        }
      }
    }
    .sim-images-wrapper {
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
      gap: 16px;
      .sim-image {
        .label {
          margin-bottom: 8px;
          font-size: 16px;
        }
        .ant-image {
          width: 100%;
          height: 157px;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}