.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 12px;
}

.color-box-container {
  display: flex;
  align-items: center;

  border: 1px solid #ccc;
  border-radius: 4px;
  width: "100%";
}

.color-box {
  margin-right: 10px;
}

.color-code {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
}
.test-code {
  // align-items: center;
  // background-color: gray;
  // justify-content: center;
  height: 45px;
}
