.set-tag-form {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  padding: 10px;
  .ant-radio-group {
    display: grid;
    grid-template-columns: 50% 50%;
    label {
      margin-bottom: 4px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .submit-wrapper {
      button {
        margin-top: 16px;
        width: 100%;
      }
    }
  }
}