.cms-admin-list-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .cms-admin-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
  }
  .content-container {
    .see-more-btn {
      border: none;
    }
    .search-bar-form {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .text-field-container {
        width: 100%;
        margin-right: 8px;
      }
    }
  }
}

.gb-role-popconfirm {
  width: 178px;
  .ant-popover-buttons {
    display: flex;
  }
  .ant-popover-message-title {
    padding-left: 0px;
    > div {
      display: flex;
      flex-direction: column;
      > label {
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
}