.custom-tabs.ant-tabs  {
  .ant-tabs-nav {
    margin: 0;
    .ant-tabs-nav-wrap {
      margin-bottom: -1px;
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          margin: 0;
          border-bottom: 1px solid @primary-color;
          &:not(:last-of-type) {
            margin: 0
          }
        }
        .ant-tabs-tab-active {
          margin: 0;
          border: 1px solid @primary-color;
          border-bottom: 1px solid @white;
          .ant-tabs-tab-btn {
            font-weight: bold;
          }
        }
        .ant-tabs-ink-bar {
          background-color: @white;
        }
      }
    }
  }
  .ant-tabs-content-holder {
    border: 1px solid @primary-color;
    padding: 16px;
    background-color: @white;
  }
}