.conversation-cell-container {
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  box-shadow: inset 0 -1px 0 0 rgba(53, 62, 58, 0.1);
  cursor: pointer;
  min-height: 80px;
  .avatar {
    border-radius: 6px;
    border: solid 1px rgba(53, 62, 58, 0.1);
    margin-right: 8px;
  }
  .conversation-cell-content {
    flex: 1;
    .username {
      font-size: 14px;
      color: #353e3a;
      font-weight: 700;
    }
    .last-message {
      font-size: 12px;
      font-weight: 500;
      margin-top: 2px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;  
      overflow: hidden;
      word-break: break-word;
    }
    .message-date {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
.conversation-cell-container.unseen-conversation {
  background-color: #BFFFE2;
}
.conversation-cell-container.active-conversation {
  background: rgba(#4F7CFE, 0.1);
}
