.entertainment-detail-component-wrapper {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
  background-color: @white;
  .m-title-text {
    margin-bottom: 16px;
  }
  .ant-image-img {
    border-radius: 8px;
  }
  .banner-wrapper {
    object-fit: cover;
  }
  .entertainment-info {
    margin-left: 16px;
    .info-row {
      margin-bottom: 16px;
      .info-col {
        padding-right: 8px;
        .s-text {
          &:first-child {
            font-weight: bold;
          }
        }
      }
      .working-date {
        display: flex;
        .s-text {
          &:first-child {
            font-weight: bold;
          }
        }
        .from-to {
          margin: 0px 10px;
          font-size: 12px;
          line-height: 1.67;
        }
      }
    }
  }
  .business-description-container {
    margin: 16px 0px;
    .title {
      color: @black;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    .business-description-content {
      img {
        max-width: 100%;
      }
    }
  }
}
