@import 'styles/theme.less';

.tab-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .unread-number {
    background-color: red;
    margin-left: 10px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    color: @white;
  }
}