.store-image-gallery-wrapper {
  margin-top: 24px !important;
  .image-gallery-form {
    .gallery-header {
      flex: 1 1 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;
      button {
        flex: 0 1 140px;
      }
    }
  }
  .image-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    & > * {
      flex: 0 1 10%;
    }
    .gallery-header {
      flex: 1 1 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;
      button {
        flex: 0 1 140px;
      }
    }
  }
  .see-more-btn {
    border: none;
  }
}