.product-create-form-wrapper {
  form {
    .form-grid {
      > .ant-col:nth-child(2n + 1) {
        padding-right: 24px;
        border-right: 1px solid #707070;
      }
      > .ant-col:nth-child(2n) {
        padding-left: 24px;
      }
      .software-version-wrapper {
        display: flex;
        flex-direction: column;
        .label {
          display: flex;
          font-size: 18px;
          align-items: center;
          margin-bottom: 8px;
          color: #000000;
          font-weight: bold;
        }
      }
    }
    .button-wrapper {
      > .ant-col {
        width: 100%;
        > button {
          width: calc((100% - 8px));
        }
      }
    }
    .ant-col {
      .multi-upload-image-container {
        .ant-upload-picture-card-wrapper {
          .ant-upload-list-picture-card {
            .ant-upload-list-picture-card-container {
              .ant-upload-list-item-actions {
                display: flex;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                  position: relative;
                  width: 80%;
                  height: 80%;
                  .anticon-eye {
                    svg {
                      display: none;
                    }
                  }
                }
                .ant-btn-icon-only {
                  position: absolute;
                  top: 0px;
                  right: 0px;
                  margin-top: 0px;
                }
              }
            }
          }
        }
      }
      .machine-image-list-wrapper {
        margin-bottom: 24px;
        .machine-image-item {
          float: left;
          width: 80px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          margin: 4px;
          box-shadow: 0px 3px 6px #00000029;
          background-color: @white;
          padding: 8px;
          img {
            width: 100%;
          }
        }
        .selected-image {
          border: 2px solid #21f00a;
        }
      }
    }
  }
}
