// @import '../../assets/styles/constants';

// tags styling
.custom-tag { 
  border: none;
}

.status-active {
  background-color: #00b295;
  color: #ffffff;
}

.status-inactive {
  background-color: #dddddd;
  color: rgba(0, 0, 0, 0.65);;
}

.status-locked {
  background-color: #c02425;
  color: #ffffff;
}

.status-draft {
  background-color: #d8d8d8;
  color: #ffffff;
}

.status-finished {
  background-color: #0091ff;
  color: #ffffff;
}

.status-canceled {
  background-color: #555555;
  color: #ffffff;
}

.status-met {
  background-color: #1890ff;
  color: #ffffff;
}

.status-request {
  background-color: #ffba08;
  color: #ffffff;
}

// colums styling
.table-cell-link {
  color: inherit;

  .ant-typography {
    color: unset;
  }

  // &:hover {
  //   color: $MainOrange !important;
  // }

  &>:first-child {
    position: relative;
    &::after {
      content: '>';
      transform: translate(calc(2px + 100%), 0);
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}