.market-product-modal-wrapper {
  .ant-modal-content {
    .ant-modal-close {
      left: 0px;
    }
    .ant-modal-header {
      border-bottom: none;
    }
    .ant-modal-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      color: @black;
      padding-left: 30px;
    }
    .ant-modal-body {
      padding: 10px 16px 30px;
    }
  }
  .market-product-detail-container {
    display: flex;
    .market-product-thumbnail {
      position: relative;
      border-radius: 6px;
      .ant-image {
        .ant-image-img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 6px;
        }
      }
      .sale-price-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
        padding: 8px 10px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        border-top-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    .market-product-detail-info {
      flex: 1;
      margin-left: 24px;
      .detail-info-wrapper {
        .detail-info-row {
          margin-top: 10px;
          .info-col {
            padding-right: 8px;
            color: @primary-color;
            .title-text {
              font-weight: bold;
            }
          }
        }
      }
      .edit-remove-product-actions {
        margin-top: 24px;
        display: flex;
        .ant-btn {
          font-size: 14px;
          font-weight: bold;
        }
        .ant-btn-dangerous {
          background-color: #ff0000;
        }
      }
    }
  }
  .market-product-form-container {
    display: flex;
    .upload-image-container
      .ant-upload-picture-card-wrapper
      .ant-upload.ant-upload-select-picture-card {
      min-height: 140px;
      width: 200px;
      .ant-upload {
        .uploaded-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .market-product-form-info {
      flex: 1;
      margin-left: 16px;
      .info-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .item-title {
          color: @primary-color;
          font-weight: bold;
        }
        .select-field-container {
          .ant-select-selector {
            height: 32px;
          }
        }
        .add-new-product-type {
          display: flex;
          justify-content: space-between;
          .plus-icon {
            width: 24px;
            height: 100%;
          }
        }
      }
      .promotion-info-row {
        margin-bottom: 10px;
        .promotion {
          margin-left: 10px;
          color: @primary-color;
        }
      }
      .save-back-product-actions {
        display: flex;
        justify-content: space-between;
        .ant-btn {
          width: 40%;
        }
      }
      .add-product-actions {
        .ant-btn {
          width: 100%;
        }
      }
    }
  }
}
