@import "styles/theme.less";

.user-info-wrapper {
  height: 100%;
  background-color: #fff;
  .user-info-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: bold;
    font-size: 20px;
    .icon-back {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  .user-info-body-wrapper {
    padding: 0px 20px 0px 70px;
    .user-info-follower-decentralization-wrapper {
      width: 100%;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      .break-line {
        width: 2px;
        height: auto;
        margin-top: 20px;
        background-color: #26415d;
      }
      .user-info-basic-wrapper {
        padding-right: 20px;
        width: 35%;
        .info-basic-title {
          color: #26415d;
          line-height: 20px;
          font-weight: bold;
        }
        .info-basic-detail {
          margin-top: 10px;
          display: flex;
          align-items: center;
          .user-avatar {
            min-width: 48px;
            img {
              width: 48px;
              height: 48px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          .user-info {
            margin-left: 8px;
            .message-btn {
              border: unset;
              width: 32px;
              height: 32px;
              margin-left: 8px;
            }
            .user-name {
              color: black;
              font-weight: bold;
              font-size: 17px;
              display: flex;
              align-items: center;
            }
            .user-contact {
              white-space: pre-line;
              font-size: 14px;
              color: #26415d;
            }
          }
        }
      }
      .user-info-follower-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        width: 20%;
        .info-follower-title {
          color: #26415d;
          line-height: 20px;
          font-weight: bold;
        }
        .info-follower-number {
          color: #26415d;
          font-size: 24px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          .ant-empty-normal {
            margin: 10px 0px;
          }
        }
      }
      .user-info-decentralization-wrapper {
        padding-left: 20px;
        width: 40%;
        .info-decentralization-title {
          color: #26415d;
          line-height: 20px;
          font-weight: bold;
          text-align: center;
        }
        .info-decentralization-list {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          max-height: 100px;
          .ant-empty-normal {
            margin: 10px 0px;
          }
          .item-role {
            display: flex;
            align-items: center;
            margin: 2px 0px;
            .type-role {
              width: 18px;
              height: 18px;
              border-radius: 4px;
              margin-right: 4px;
            }
            .news-role {
              background-color: #ff44b9;
            }
            .supermarket-role {
              background-color: #f8ff44;
            }
            .transport-role {
              background-color: #cccdb8;
            }
            .jobs-role {
              background-color: #be4290;
            }
            .tutorial-role {
              background-color: #be4242;
            }
            .rent-role {
              background-color: #42aebe;
            }
            .tourist-role {
              background-color: #d6c449;
            }
            .visa-role {
              background-color: #6742be;
            }
            .restaurant-role {
              background-color: #42be8c;
            }
            .entertainment-role {
              background-color: #91be42;
            }
            .fonehouse-role {
              background-color: #30cb8c;
            }
            .cosmetic-role {
              background-color: #0183E7;
            }
            .type-text {
              font-size: 12px;
            }
          }
        }
      }
    }
    .user-info-introdution-contact-wrapper {
      margin-top: 10px;
      display: flex;
      .user-info-introdution-wrapper {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
        opacity: 1;
        flex: 1;
        margin-right: 10px;
        padding: 16px;
        .info-introdution-title {
          color: #26415d;
          line-height: 20px;
          font-weight: bold;
        }
        .info-introdution-detail {
          .info-introduction-content {
            margin-top: 10px;
            color: #26415d;
            font-size: 12px;
            display: flex;
            align-items: center;
            .icon-introduction {
              width: 16px;
              height: 16px;
              margin-right: 10px;
            }
            .high-line-info {
              font-weight: bold;
            }
          }
        }
      }
      .user-info-contact-wrapper {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
        opacity: 1;
        flex: 1;
        margin-left: 10px;
        padding: 16px;
        .info-contact-title {
          color: #26415d;
          line-height: 20px;
          font-weight: bold;
        }
        .info-contact-title.second {
          margin-top: 20px;
        }
        .empty-data {
          justify-content: center;
        }
        .info-contact-detail-wrapper {
          display: flex;
          flex-wrap: wrap;
          .ant-empty-normal {
            margin: 10px 0px;
          }
          .item-info-wrapper {
            display: flex;
            width: 50%;
            margin-top: 10px;
            .icon-info {
              width: 24px;
              height: 24px;
              border-radius: 50%;
            }
            .item-info-detail-wrapper {
              margin: 0px 4px;
              padding-bottom: 8px;
              border-bottom: 1px #9f9a9a solid;
              flex: 1;
              .item-value {
                font-size: 14px;
                color: #26415d;
              }
              .item-name {
                margin-top: 6px;
                font-size: 12px;
                line-height: 10px;
                color: #9f9a9a;
              }
            }
          }
        }
        .relationship-status-detail-wrapper {
          display: flex;
          flex-wrap: wrap;
          .ant-empty-normal {
            margin: 10px 0px;
          }
          .item-info-wrapper {
            display: flex;
            width: 50%;
            margin-top: 10px;
            .icon-info {
              width: 24px;
              height: 24px;
              border-radius: 50%;
            }
            .item-info-detail-wrapper {
              margin: 0px 4px;
              padding-bottom: 8px;
              border-bottom: 1px #9f9a9a solid;
              flex: 1;
              .item-value {
                font-size: 14px;
                color: #26415d;
              }
              .item-name {
                margin-top: 6px;
                font-size: 12px;
                line-height: 10px;
                color: #9f9a9a;
              }
            }
          }
        }
      }
    }
    .user-info-family-group-member-wrapper {
      margin-top: 10px;
      display: flex;
      .user-info-family-member-wrapper {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
        opacity: 1;
        flex: 1;
        margin-right: 10px;
        padding: 16px;
        .info-family-member-title {
          color: #26415d;
          line-height: 20px;
          font-weight: bold;
        }
        .info-family-member-detail-wrapper {
          display: flex;
          flex-direction: column;
          .ant-empty-normal {
            margin: 10px 0px;
          }
          .item-info-wrapper {
            display: flex;
            margin-top: 10px;
            .icon-info {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #00000029;
              object-fit: cover;
            }
            .item-info-detail-wrapper {
              margin: 2px 4px 4px;
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .item-relationship {
                font-size: 12px;
                color: #9f9a9a;
              }
              .item-name {
                font-size: 14px;
                color: #26415d;
                font-weight: bold;
              }
            }
          }
        }
      }
      .user-info-group-member-wrapper {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
        opacity: 1;
        flex: 1;
        margin-left: 10px;
        padding: 16px;
        .info-group-member-title {
          color: #26415d;
          line-height: 20px;
          font-weight: bold;
        }
        .info-group-member-detail-wrapper {
          display: flex;
          flex-direction: column;
          .ant-empty-normal {
            margin: 10px 0px;
          }
          .item-info-wrapper {
            display: flex;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px #9f9a9a solid;
            width: 50%;
            .icon-info {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              background-color: #00000029;
            }
            .item-info-detail-wrapper {
              margin: 2px 4px 4px;
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .item-members {
                font-size: 12px;
                color: #9f9a9a;
              }
              .item-name {
                font-size: 14px;
                color: #26415d;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
