.bill-list-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .bill-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
    > button {
      max-width: 140px;
    }
  }
  .content-container {
    .see-more-btn {
      border: 1px;
    }
    .filter {
      margin-right: 10px;
    }
    .search-bar-form {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .text-field-container {
        width: 100%;
        .ant-input-affix-wrapper {
          border: 1px solid #3c5369;
        }
      }
    }
  }
  .ant-tabs-nav-wrap {
    overflow: visible !important;
  }
  .ant-table-wrapper {
    .ant-spin-nested-loading {
      .ant-spin-container {
        .ant-table {
          .ant-table-container {
            .ant-table-row {
              padding: 4px 0px;
            }
            .status-new {
              background-color: #6fffbc;
              border-radius: 4px;
            }
            .status-shipped {
              background-color: #FFF5B1;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}