.artcle-list-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .artcle-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
    .ant-btn {
      max-width: 140px;
    }
  }
  .content-container {
    .see-more-btn {
      border: none;
    }
    .search-bar-form {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .text-field-container {
        width: 100%;
        margin-right: 8px;
      }
      .select-read-news-wrapper {
        max-width: 160px;
        width: 100%;
        margin-right: 8px;
      }
    }
    .ant-table-wrapper {
      .ant-spin-nested-loading {
        .ant-spin-container {
          .ant-table {
            .ant-table-container {
              .ant-table-row {
                padding: 4px 0px;
              }
              .news-unread {
                background-color: #6fffbc;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
}

.gb-role-popconfirm {
  width: 178px;
  .ant-popover-buttons {
    display: flex;
  }
  .ant-popover-message-title {
    padding-left: 0px;
    > div {
      display: flex;
      flex-direction: column;
      > label {
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
}
