.information-box-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  .ant-avatar {
    background-color: @white;
  }
  .information-text {
    color: @white;
    margin-left: 8px;
    .upper-text {
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
    }
    .sub-text {
      font-size: 12px;
      line-height: 14px;
    }
  }
}