.product-list-wrapper {
  background-color: @white;
  height: 100%;
  padding: 16px;
  .product-list-header {
    .ant-typography {
      margin-bottom: 0;
    }
    > button {
      max-width: 100px;
    }
  }
  .content-container {
    position: relative;
    .see-more-btn {
      border: none;
    }
    .total-price {
      position: absolute;
      top: 76px;
      right: 0;
      font-size: 20px;
    }
    .search-bar-form {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .text-field-container {
        width: 100%;
        margin-right: 8px;
      }
      .select-field-container {
        max-width: 160px;
        width: 100%;
        margin-right: 8px;
      }
    }
  }
}
